<a
  [routerLink]="['/character', character.id]"
  class="card-link text-decoration-none"
>
  <div
    class="character-card bg-dark text-white rounded overflow-hidden d-flex flex-row"
  >
    <div class="card-image">
      <img [src]="character.image" [alt]="character.name" />
    </div>
    <div class="card-content d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title mb-2">{{ character.name }}</h5>
        <p class="card-text mb-1">
          Species: <b>{{ character.species }}</b>
        </p>
        <p class="card-text mb-0">
          Status: <b>{{ character.status }}</b>
        </p>
      </div>
    </div>
  </div>
</a>
